<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The Client Area API, market data and the trading streams -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Biometric unlock (local_auth) -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <!-- Identity verification (KYC): document and selfie photos -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <!-- Haptics on trades -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:label="Kalks"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="false"
        android:fullBackupContent="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Deep links: kalks://<web path> (e.g. kalks://app/wallet/deposit) opens the same page as the web. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="kalks"/>
            </intent-filter>
            <!-- Web links of the Client Area and Kalks Trader. Verified App Links (autoVerify) need
                 /.well-known/assetlinks.json on these hosts with the release key's fingerprint: later. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="app.kalkstrade.com"/>
                <data android:scheme="https" android:host="trade.kalkstrade.com"/>
            </intent-filter>
        </activity>
        <!-- go_router handles the deep links above -->
        <meta-data android:name="flutter_deeplinking_enabled" android:value="true"/>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Package visibility (Android 11+): apps the Client Area hands off to -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- url_launcher: web pages, e-mail to support, wallet deep links (MetaMask / TronLink) -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="mailto"/>
        </intent>
        <!-- image_picker: the system camera for KYC document and selfie photos -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <package android:name="io.metamask"/>
        <package android:name="com.tronlinkpro.wallet"/>
    </queries>
</manifest>
